@import "tailwindcss";

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "General Sans";
}

body {
  padding-bottom: 100vh;
  background-color: #f9f9f9;
}

.title-font {
  font-family: "Broaek-Outline", sans-serif;
}

@theme {
  --color-sky: #e3eeff;
}

.image-card {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
